.services-page {
    background-color: #f2f2f2; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh; 
    
  }
  
  .service-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .service-section {
    background-color: #fff; 
    padding: 20px;
    width: 30%; 
    border-radius: 10px; 
  }
  
  .service-icon {
    text-align: center;
  }
  
  .service-details {
    text-align: center;
  }
  
  .blue-underline {
    border-bottom: 2px solid blue; 
  }
  
  
  .description {
    text-align: center;
  }
  
  .service-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .service-section {
    background-color: #fff; 
    padding: 20px;
    width: 30%; 
    border-radius: 10px; 
  }
  
  .service-icon {
    text-align: center;
  }
  
  .service-details {
    text-align: center;
  }
  
  .blue-underline {
    border-bottom: 2px solid blue; 
  }
 
  .service-icon:hover svg {
    color: #cde1f8;
  }