/* App.css */

/* Style de la barre de navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #EEE ;
  padding: 30px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 35px;
  font-size: 25px;
}

.navbar a:hover {
  color: #ddd;
}

.prenom {
  color: white;
  margin-right: 20px;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hauteur minimale de la page pour que le footer reste en bas */
}

.eclair-image {
  width: 80px; /* Définissez la largeur de l'image */
  height: 10px; /* Réglez la hauteur sur auto pour conserver les proportions de l'image */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Blanc avec une transparence de 0.8 */
  color: #ddd;
}
